
.env
.venv
advision_env/__pycache__/
server/__pycache__/
__pycache__/
*.pyc
.ruff_cache
.ipynb_checkpoints
data/output_videos/*
server/static/temp/*
# Keep samples for UI functionality
!data/input_videos/test.mp4
!data/ad_images/oil_ad.png
!data/ad_images/sample_ad.png
!server/static/assets/*
# Keep models
!yolov8n.pt
Thumbs.db
.DS_Store
